<div class="modal fade" id="myModal" class="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Welcome to Mealonwheels</h4>
      </div>
      <div class="modal-body">

      <!-- Tab Starts -->
      <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#signin" aria-controls="signin" role="tab" data-toggle="tab">Sign In</a></li>
      <li role="presentation"><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Sign Up</a></li>

      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="signin">
          <hr>
          <form data-toggle="validator" name="signin_form" id="signin_form" action="./db_store/signin_db" method="POST">
            <div class="form-group">
          <label>Username </label> <input type="text" name="username" id="username" class="form-control col-sm-3" placeholder="Username" required/> <br><br>
        </div>
        <div class="form-group">
          <label> Password </label> <input type="password" data-toggle="validator" data-minlength="6" class="form-control" name="password" id="password" class="form-control col-sm-3" placeholder="Password" required/>
          
          <br><br>
        </div>
        <div class="form-group">
          <br>
          <input type="submit" class="btn btn-primary" value="Sign In" />
        </div>
          </form>
          
        </div>

        <div role="tabpanel" class="tab-pane" id="signup">
          <hr>
          <form data-toggle="validator" name="signup_form" id="signup_form" action="./db_store/signup_db" method="POST">
            <div class="form-group">
          <label> Email </label> <input type="email" name="email" id="email" class="form-control col-sm-3" placeholder="Email" data-error="email address is invalid" required/>
          <div class="help-block with-errors"></div>
          
          
        </div>
          <div class="form-group">
          <label> Username </label> <input type="text" name="username" id="username" class="form-control col-sm-3" placeholder="Username" required/> 
        </div>
        <div class="form-group">
          <label> Password </label> <input type="password" data-toggle="validator" name="password" id="upassword" class="form-control col-sm-3" placeholder="Password" required/>
          
          
        </div>
        <div class="form-group">
          <label> Confirm Password </label> <input type="password" name="cpassword" id="cpassword" class="form-control col-sm-3" data-match="#upassword" data-match-error="Whoops, these don't match"placeholder="Password Again" required/>
          <div class="help-block with-errors"></div>
          <br><br>
        </div>
          <br>
          <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Sign Up" />
        </div>
          </form>


        </div>
        
      </div>

      </div>
      </div>
      <!-- Tab ends -->
      <div class="modal-footer">
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->